@media screen and (max-width: 600px) {
    .option {
        height: 85px;
        width: 85px;
    }
}

@media screen and (min-width: 600px) {
    .option {
        height: 300px;
        width: 300px;
    }
}

.next,
.prev {
    position: absolute;
    top: 30%;
    z-index: 1;
    cursor: pointer;
}

.next {
    right: 0;
}

.option {
    border: 1px solid #176f07;
}

body {
    width: 97%;
    background-color: rgba(214, 188, 214, 0.22);
}